<div>
  <button class='primary medium frost-button' {{action (action 'bubbleClick' 'foo')}}>
    bubble value foo
  </button>
</div>
<div>
  <button class='primary medium frost-button' {{action (action 'bubbleClick' 'bar')}}>
    bubble value bar
  </button>
</div>
<div>
  <button class='primary medium frost-button' {{action (action 'bubbleClick' 'baz')}}>
    bubble value baz
  </button>
</div>
<div>
  linkEnd: {{linkEnd}}
</div>
